BasedOnStyle: LLVM
ColumnLimit: 120
PointerAlignment: Left
IndentWidth: 4
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: Inline
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: false
BreakBeforeBraces: Allman
SortIncludes: CaseSensitive
